# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# SQLite database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

logs.txt
report.json

.hypothesis
redis_data
